{% extends 'LibraryApp/base.html' %}
{% block  body %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 style="text-align: left">Add Book</h3><br>

        <div>
            <label>name</label>
            <input type="text" name="name" required><br>
        </div>
        <div>
            <label>Description</label>
            <input type="text" name="Description" required><br>
        </div>
        <div>
            <label>ISBN</label>
            <input type="text" name="ISBN" required><br>
        </div>
        <div>
            <label>Author</label>
            <input type="text" name="author" required><br>
        </div>
        <div>
            <label>Publication Year</label>
            <input type="number" name="publication_year"><br>
        </div>


        <div class="buttonDiv">
            <input type="submit" value="Add book">
            <input type="button" value="Back" onclick="location.href='{% url 'Admin' account.id %}'">
        </div>


    </form>

{% endblock %}

<!--onclick="location.href='{% url 'add_book_successful' account.id %}'"-->