{% extends 'LibraryApp/base.html' %}
{% block  body %}
    <div class="username">
        {{ account.name }} as a {{ account.accType }}
    </div>
    <div class="bookList">
        {% for book in book_list %}
            <a href="{% url 'bookDetails' book.id account.id %}">{{ book.name }}</a><br>
        {% endfor %}
    </div>
    <div class="buttonDiv">
        <input type="button" value="Add Book" onclick="location.href='{% url 'addBook' account.id %}'">
        <input type="button" value="View Borrow Requests" onclick="location.href='{% url 'borrow_list' account.id %}'">
        <input type="button" value="Logout" onclick="location.href='{% url 'login' %}'">
    </div>

{% endblock %}