{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'LibraryApp/style.css' %}">
    <title>Home page</title>
    <style>
        /* for register form only*/
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'login' %}">Sign in</a></li>
        <li><a href="{% url 'register' %}">Sign up </a></li>
        <li><a href="{% url 'feedback' %}">Feedback</a></li>
    </ul>
</nav>

{% block body %}

{% endblock %}


</body>
</html>