{% extends 'LibraryApp/base.html' %}
{% block  body %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        Are you sure you want to cancel borrowing this book?

        <div class="buttonDiv">
            <input type="submit" value="Cancel Borrow">
            <input type="button" value="Back" onclick="location.href='{% url 'bookDetails' book.id account.id %}'">
        </div>

    </form>

{% endblock %}
{% csrf_token %}
Are you sure you want to delete?
<input type="submit">