{% extends 'LibraryApp/base.html' %}
{% block  body %}
    <h3>Login Successful</h3>

    <div class="buttonDiv">
        {% if context.accType == 'librarian' %}
            <input type="button" value="Go to {{ context.accType }} page "
                   onclick="location.href='{% url 'librarian' context.id %}'">
        {% else %}
            <input type="button" value="Go to {{ context.accType }} page "
                   onclick="location.href='{% url 'user' context.id %}'">
        {% endif %}

    </div>

{% endblock %}