{% extends 'LibraryApp/base.html' %}
{% block  body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Login </h3><br>
        <div>
            <label>Email</label>
            <input type="email" name='email' required><br>
        </div>

        <div>
            <label>Password</label>
            <input type="password" name="password" required><br>
        </div>

        <div class="buttonDiv">
            <input type="submit" value="login">
            <input type="button" value="Back" onclick="location.href='{% url 'home' %}'">
        </div>


    </form>
{% endblock %}