{% extends 'LibraryApp/base.html' %}
{% block  body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Registration</h3>
        <div>
            <label>Username</label>
            <input type="text" name="name" id="name" required><br>
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="email" id="email" required><br>
        </div>

        <div>
            <label>Password</label>
            <input type="password" name="password1" id="password1" onkeyup='check();' required><br>
        </div>
        <div>
            <label>Password(again)</label>
            <input type="password" name="password2" id="password2" onkeyup='check();' required><br>
        </div>
        <span id='message'></span>
        <div>
            <label>Phone</label>
            <input type="number" name="phone" id="phone"><br>
        </div>

        <div>
            <label>Sign up as:</label>
            <input type="radio" value="adminRadio" name="radbtn" required> Admin<br>
            <input type="radio" value="studentRadio" name="radbtn" required> Student<br>
        </div>
        <div class="buttonDiv">
            <input type="submit">
            <input type="button" value="Back" onclick="location.href='{% url 'home' %}'">
        </div>


    </form>
    <script>
        var check = function () {
            var con1 = document.getElementById('password1').value;
            var con2 = document.getElementById('password2').value;
            var con3 = document.getElementById('message').value;

            if (con1 == con2 && con1 != '' && con2 != '') {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Matching';
            } else if (con1 !== con2) {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Not matching';
            } else if (con1 == "" || con2 == "") {
                document.getElementById('message').innerHTML = '';
            }
        }
    </script>
{% endblock %}
