{% extends 'LibraryApp/base.html' %}
{%  block  body %}

    
    <div  class="search">
        <button> Search</button>
        <input type="search" name="search">
    </div>
    <nav>
        <ul>
           <label class="logo">University Library </label>
            <li><a href="#">Home page</a></li>
            <li><a href="#">my books</a></li>
            <li><a href="#">list of books </a></li>
            <li><a href="#">borrowing</a></li>
            <li><a href="#">returning</a></li>
            <li><a href="#">Update your details </a></li>
            <li><a href="#">Logout </a></li>
        </ul>
    </nav>
  
{% endblock %}